[submodule]
	recurse = true
[submodule "BrassNecessity/Assets/AssetPacks"]
	path = BrassNecessity/Assets/AssetPacks
	url = https://github.com/poppedcornbytes/BrassNecessity_Assets.git
	branch = main
	update = merge
