#DialogueParent {
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}

#DialogueHolder {
    height: 25%;
}

.dialogue-text {
    transition-property: opacity;
    transition-duration: 1s;
}

.dialogue-fade-out {
    opacity: 0;
}
